prompts/workflow.prompt2s3.json
{
  "name": "Prompt to S3",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        1280
      ],
      "id": "efb27eed-4ca4-4d41-8a8b-f69b3b51305f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('The sub-workflow received no input item.');\n}\n\nconst unit = items[0].json || {};\n\nfor (const field of ['username', 'topic', 'prompt_name', 'prompt']) {\n  const value = unit[field];\n  if (typeof value !== 'string' || !value.trim()) {\n    throw new Error(`Missing or invalid unit-of-work field: ${field}`);\n  }\n}\n\nfunction sanitize(value) {\n  let result = String(value).normalize('NFKC').trim();\n  result = result.replace(/[\\\\/]+/g, '-');\n  result = result.split('').filter(c => c.charCodeAt(0) >= 32 && c.charCodeAt(0) !== 127).join('');\n  result = result.replace(/\\s+/g, '_');\n  result = result.replace(/[^a-zA-Z0-9._-]/g, '-');\n  result = result.replace(/-+/g, '-');\n  result = result.replace(/^[\\-_.]+|[\\-_.]+$/g, '');\n  return result || 'unnamed';\n}\n\nconst now = new Date();\nconst currentDate = now.toISOString().slice(0, 10);\n\nconst usernameKey = sanitize(unit.username);\nconst topicKey = sanitize(unit.topic);\nconst promptNameKey = sanitize(unit.prompt_name);\n\nreturn [{\n  json: {\n    user_id: unit.user_id,\n    username: unit.username,\n    email: unit.email,\n    topic: unit.topic,\n    prompt_name: unit.prompt_name,\n    prompt: unit.prompt,\n    date: currentDate,\n    path1: `${usernameKey}/by-topic/${topicKey}/${promptNameKey}/${currentDate}.html`,\n    path2: `${usernameKey}/by-date/${currentDate}/${topicKey}/${promptNameKey}.html`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        1280
      ],
      "id": "e95eba3b-d06f-46dc-8b5e-d3b4021b438a",
      "name": "Prepare Unit of Work"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LITELLM_MASTER_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'default', web_search_options: {enabled: true, search_context_size: 'low'},  max_tokens: null, messages: [{ role: 'user', content: $json.prompt }] } }}",
        "options": {}
      },
      "id": "296f500d-61eb-49e9-b975-0799cce26d70",
      "name": "LiteLLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('LiteLLM returned no input item.');\n}\n\nconst api = items[0].json || {};\nconst unitItems = $('Prepare Unit of Work').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Prepare Unit of Work returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\nconst choices = api.choices || [];\n\nif (choices.length === 0) {\n  throw new Error(`LiteLLM returned no choices: ${JSON.stringify(api)}`);\n}\n\nconst message = choices[0].message || {};\nlet response = message.content;\n\nif (typeof response !== 'string' || !response) {\n  throw new Error(`LiteLLM returned no message content: ${JSON.stringify(api)}`);\n}\n\n// ── Citation enrichment ──────────────────────────────────────────────────────\nconst annotations = Array.isArray(message.annotations) ? message.annotations : [];\n\nconst citations = annotations\n  .filter(ann => ann.type === 'url_citation' && ann.url_citation)\n  .map(ann => ann.url_citation)\n  .filter(c => typeof c.url === 'string' && c.url.trim());\n\nif (citations.length > 0) {\n  // Deduplicate by URL\n  const seen = new Set();\n  const unique = citations.filter(c => {\n    if (seen.has(c.url)) return false;\n    seen.add(c.url);\n    return true;\n  });\n\n  const refLines = unique.map((c, i) => {\n    const label = (c.title || c.url).replace(/[[]]/g, '');\n    return `${i + 1}. [${label}](${c.url})`;\n  });\n\n  response = response.trimEnd() + '\\n\\n---\\n\\n**Sources**\\n\\n' + refLines.join('\\n');\n}\n// ── End citation enrichment ──────────────────────────────────────────────────\n\nconst result = Object.assign({}, unit);\nresult.response = response;\nresult.citations = citations.map(({ url, title }) => ({ url, title }));\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1280
      ],
      "id": "6f62f700-25a9-4000-b422-16d13f397dc0",
      "name": "Extract Response"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.response }}",
        "options": {}
      },
      "id": "cfe65f3c-0076-4eb9-97de-fff635eb46dd",
      "name": "Render Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -1296,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('Markdown node returned no input item.');\n}\n\nconst rendered = items[0].json || {};\nconst unitItems = $('Extract Response').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Extract Response returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\n\nlet html = rendered.data;\n\nif (html === undefined || html === null) {\n  html = rendered.html;\n}\n\nif (html === undefined || html === null) {\n  html = rendered.response;\n}\n\nif (typeof html !== 'string') {\n  throw new Error(`Markdown node returned no HTML string: ${JSON.stringify(rendered)}`);\n}\n\nconst result = Object.assign({}, unit);\nresult.html = html;\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1280
      ],
      "id": "91d8898c-2389-4af8-a7cd-d613d21ecea0",
      "name": "Prepare Uploads"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET || 'rendered-html' }}",
        "fileName": "={{ $json.path1 }}",
        "binaryData": false,
        "fileContent": "={{ $json.html }}",
        "additionalFields": {},
        "tagsUi": {
          "tagsValues": []
        }
      },
      "id": "e8f5c41a-3991-41f4-86e1-2537a7e6a249",
      "name": "Upload to S3 - Prompt Path",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -816,
        1152
      ],
      "credentials": {
        "s3": {
          "id": "PHdWvL5exC78NlrA",
          "name": "Minio"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET || 'rendered-html' }}",
        "fileName": "={{ $json.path2 }}",
        "binaryData": false,
        "fileContent": "={{ $json.html }}",
        "additionalFields": {},
        "tagsUi": {
          "tagsValues": []
        }
      },
      "id": "b4492416-1bd0-4a85-934d-416e7f06ede4",
      "name": "Upload to S3 - Date Path",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -816,
        1392
      ],
      "credentials": {
        "s3": {
          "id": "PHdWvL5exC78NlrA",
          "name": "Minio"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        1280
      ],
      "id": "18bb0519-116f-47cc-94d5-c6d22583fe78",
      "name": "Wait for Both Uploads"
    },
    {
      "parameters": {
        "jsCode": "const unitItems = $('Prepare Uploads').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Prepare Uploads returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\n\nreturn [{\n  json: {\n    success: true,\n    user_id: unit.user_id,\n    username: unit.username,\n    topic: unit.topic,\n    prompt_name: unit.prompt_name,\n    date: unit.date,\n    uploaded_keys: [\n      unit.path1,\n      unit.path2\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        1280
      ],
      "id": "8422cb99-93ab-4d2f-8ba6-551a7720ba7f",
      "name": "Return Result"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Unit of Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unit of Work": {
      "main": [
        [
          {
            "node": "LiteLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Render Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Markdown": {
      "main": [
        [
          {
            "node": "Prepare Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Uploads": {
      "main": [
        [
          {
            "node": "Upload to S3 - Prompt Path",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to S3 - Date Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3 - Prompt Path": {
      "main": [
        [
          {
            "node": "Wait for Both Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3 - Date Path": {
      "main": [
        [
          {
            "node": "Wait for Both Uploads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both Uploads": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0bf0217-c909-406d-8a80-7100b623229e",
  "meta": {
    "instanceId": "dabd402852eb1bd9b1f09402964ab32cfd117264b664cc819428ea367e88cf33"
  },
  "nodeGroups": [],
  "id": "hnaQf7RvpXUL5URh",
  "tags": []
}
