prompts/workflow.prompt2s3.json
{
  "name": "Prompt to S3",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "02167aed-43a3-403d-95d1-5fac6f6dc20b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('The sub-workflow received no input item.');\n}\n\nconst unit = items[0].json || {};\n\nfor (const field of ['username', 'topic', 'prompt_name', 'prompt']) {\n  const value = unit[field];\n  if (typeof value !== 'string' || !value.trim()) {\n    throw new Error(`Missing or invalid unit-of-work field: ${field}`);\n  }\n}\n\nfunction sanitize(value) {\n  // NFKC normalize (JS handles unicode natively)\n  let result = String(value).normalize('NFKC').trim();\n\n  // Replace backslashes and forward slashes with dash\n  result = result.replace(/[\\\\/]+/g, '-');\n\n  // Remove control characters (< 32) and DEL (127)\n  result = result.split('').filter(c => c.charCodeAt(0) >= 32 && c.charCodeAt(0) !== 127).join('');\n\n  // Replace whitespace runs with underscore\n  result = result.replace(/\\s+/g, '_');\n\n  // Replace any character that isn't alphanumeric, dot, underscore, or dash with dash\n  result = result.replace(/[^a-zA-Z0-9._-]/g, '-');\n\n  // Collapse multiple dashes\n  result = result.replace(/-+/g, '-');\n\n  // Strip leading/trailing dashes, underscores, dots\n  result = result.replace(/^[\\-_.]+|[\\-_.]+$/g, '');\n\n  return result || 'unnamed';\n}\n\nconst now = new Date();\nconst currentDate = now.toISOString().slice(0, 10); // YYYY-MM-DD UTC\n\nconst usernameKey = sanitize(unit.username);\nconst topicKey = sanitize(unit.topic);\nconst promptNameKey = sanitize(unit.prompt_name);\n\nreturn [{\n  json: {\n    user_id: unit.user_id,\n    username: unit.username,\n    email: unit.email,\n    topic: unit.topic,\n    prompt_name: unit.prompt_name,\n    prompt: unit.prompt,\n    date: currentDate,\n    path1: `${usernameKey}/${topicKey}/${promptNameKey}/${currentDate}.html`,\n    path2: `${usernameKey}/${currentDate}/${topicKey}/${promptNameKey}.html`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "54e10393-59a3-42bd-8581-c18b5205c741",
      "name": "Prepare Unit of Work"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LITELLM_MASTER_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'default', max_tokens: null, messages: [{ role: 'user', content: $json.prompt }] } }}",
        "options": {}
      },
      "id": "16e0ae8d-453a-4c73-b300-3f191b484ea5",
      "name": "LiteLLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('LiteLLM returned no input item.');\n}\n\nconst api = items[0].json || {};\nconst unitItems = $('Prepare Unit of Work').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Prepare Unit of Work returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\nconst choices = api.choices || [];\nlet response = null;\n\nif (choices.length > 0) {\n  const message = choices[0].message || {};\n  response = message.content;\n}\n\nif (typeof response !== 'string' || !response) {\n  throw new Error(`LiteLLM returned no message content: ${JSON.stringify(api)}`);\n}\n\nconst result = Object.assign({}, unit);\nresult.response = response;\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "9c4271ac-8354-4019-9030-cc35ade0f084",
      "name": "Extract Response"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.response }}",
        "options": {}
      },
      "id": "4d50e05f-684a-47f6-932f-adb716aa5f7f",
      "name": "Render Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('Markdown node returned no input item.');\n}\n\nconst rendered = items[0].json || {};\nconst unitItems = $('Extract Response').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Extract Response returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\n\nlet html = rendered.data;\n\nif (html === undefined || html === null) {\n  html = rendered.html;\n}\n\nif (html === undefined || html === null) {\n  html = rendered.response;\n}\n\nif (typeof html !== 'string') {\n  throw new Error(`Markdown node returned no HTML string: ${JSON.stringify(rendered)}`);\n}\n\nconst result = Object.assign({}, unit);\nresult.html = html;\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "72aa0361-d39b-4129-91a8-819d4542810a",
      "name": "Prepare Uploads"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET || 'rendered-html' }}",
        "fileName": "={{ $json.path1 }}",
        "binaryData": false,
        "fileContent": "={{ $json.html }}",
        "additionalFields": {},
        "tagsUi": {
          "tagsValues": []
        }
      },
      "id": "e4b8316d-7fdd-4d9d-9b19-5bb2b4a3bad2",
      "name": "Upload to S3 - Prompt Path",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1440,
        -120
      ],
      "credentials": {
        "s3": {
          "id": "PHdWvL5exC78NlrA",
          "name": "Minio"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.S3_BUCKET || 'rendered-html' }}",
        "fileName": "={{ $json.path2 }}",
        "binaryData": false,
        "fileContent": "={{ $json.html }}",
        "additionalFields": {},
        "tagsUi": {
          "tagsValues": []
        }
      },
      "id": "0bfd89c6-1f33-4d13-a7f2-74e2b9243566",
      "name": "Upload to S3 - Date Path",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1440,
        120
      ],
      "credentials": {
        "s3": {
          "id": "PHdWvL5exC78NlrA",
          "name": "Minio"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        0
      ],
      "id": "e51a5129-355a-4789-a45e-a82dac467958",
      "name": "Wait for Both Uploads"
    },
    {
      "parameters": {
        "jsCode": "const unitItems = $('Prepare Uploads').all();\n\nif (!unitItems || unitItems.length === 0) {\n  throw new Error('Prepare Uploads returned no item.');\n}\n\nconst unit = unitItems[0].json || {};\n\nreturn [{\n  json: {\n    success: true,\n    user_id: unit.user_id,\n    username: unit.username,\n    topic: unit.topic,\n    prompt_name: unit.prompt_name,\n    date: unit.date,\n    uploaded_keys: [\n      unit.path1,\n      unit.path2\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ],
      "id": "6447ec5c-31a2-4e04-8700-13642120f267",
      "name": "Return Result"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Unit of Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unit of Work": {
      "main": [
        [
          {
            "node": "LiteLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Render Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Markdown": {
      "main": [
        [
          {
            "node": "Prepare Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Uploads": {
      "main": [
        [
          {
            "node": "Upload to S3 - Prompt Path",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to S3 - Date Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3 - Prompt Path": {
      "main": [
        [
          {
            "node": "Wait for Both Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3 - Date Path": {
      "main": [
        [
          {
            "node": "Wait for Both Uploads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both Uploads": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "183d8ffc-b76d-464e-afb0-6db54d765822",
  "meta": {
    "instanceId": "dabd402852eb1bd9b1f09402964ab32cfd117264b664cc819428ea367e88cf33"
  },
  "nodeGroups": [],
  "id": "oGl82VaJHbiAY8kQ",
  "tags": []
}
