prompts/workflow.scheduled-prompt.json
{
  "name": "Scheduled Prompt -> LiteLLM -> Claude",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "hours", "hoursInterval": 6 } ] }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "prompt",
              "type": "string",
              "value": "Summarize the most important technology news from the last 24 hours in 5 bullet points, each with a source link."
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompt",
      "name": "Set prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 480, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LITELLM_MASTER_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }\n  ]\n}",
        "options": {}
      },
      "id": "litellm-call",
      "name": "LiteLLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 720, 300 ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "o1",
              "name": "response",
              "type": "string",
              "value": "={{ $json.choices && $json.choices[0] ? $json.choices[0].message.content : JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract",
      "name": "Extract response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 960, 300 ]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Set prompt",       "type": "main", "index": 0 } ] ] },
    "Set prompt":       { "main": [ [ { "node": "LiteLLM",          "type": "main", "index": 0 } ] ] },
    "LiteLLM":          { "main": [ [ { "node": "Extract response", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}